@use '@angular/material' as mat;

@include mat.core();

// TODO: AJUSTAR CORES
$poc-theme-primary: mat.define-palette(mat.$indigo-palette);
$poc-theme-accent: mat.define-palette(mat.$light-blue-palette);
$poc-theme-warn: mat.define-palette(mat.$red-palette, A700, 400, 900);

$poc-theme: mat.define-light-theme(
  $poc-theme-primary,
  $poc-theme-accent,
  $poc-theme-warn
);

@include mat.all-component-themes($poc-theme);
